/* src/components/Loader/Loader.css */

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(30, 30, 30);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.spinner {
  width: 80px;
  height: 80px;
  border: 8px solid rgba(255, 255, 0, 0.2); /* Light yellow border */
  border-top: 8px solid yellow; /* Full yellow border on top */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
