.navbar {
  height: 5rem;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
  background: rgb(30, 30, 30);
}
.logo {
  object-fit: cover;
  height: 3rem;
  width: 4rem;
}
.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}
.desktopMenuListItem:hover {
  color: yellow;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid yellow;
}
.desktopMenuBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  background: white;
  color: black;
  border: none;
  padding: 0.8rem 1.5rem;
  gap: 0.8rem;
  font-size: 1.1rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.active {
  color: yellow;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid yellow;
}
.navMenu {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  min-width: 15rem;
  background: rgb(40, 40, 40);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;

}
.listItem {
  cursor: pointer;
  color: white;
  padding: 0.5rem 2rem;
  margin: 0.25rem;
  background: rgb(30, 30, 30);
   transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}
.mobMenuLogo {
  color: yellow;
  font-size: 3rem;
  cursor: pointer;
  display: none;
}

/* Notification styles */
.notification {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}


@media screen and (max-width: 720px) {
    .mobMenuLogo {
        display: flex;
    }
    .desktopMenu{
        display: none;
    }
    .desktopMenuBtn{
        display: none;
    }
}